<div class="resources-grid">
  <div class="resource-block">
    <h3>Health</h3>
    <div class="resource-content">
      <input type="number" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/> / {{system.health.max}}
    </div>
  </div>
  <div class="resource-block">
    <h3>Resolve</h3>
    <div class="resource-content">
      <input type="number" name="system.resolve.value" value="{{system.resolve.value}}" data-dtype="Number"/> / {{system.resolve.max}}
    </div>
  </div>
  <div class="resource-block">
    <h3>Defense</h3>
    <div class="resource-content">
      <div class="defense-value">{{system.defense.value}}</div>
    </div>
  </div>
</div>
